# Sistema de compilación
.gradle/
build/

# Directorios de salida
out/

# Archivos de configuración de la IDE
.idea/
*.iml
*.ipr
*.iws

# Gradle Wrapper
gradle-wrapper.jar

# Archivos temporales
*.log
*.tmp
*.tmp.*

# Archivos específicos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de paquete
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Archivos binarios de resultados de pruebas
*.bin
*.xml
*.idx

# Archivos temporales de extracción de pruebas
jar_extract_*

# Archivos de configuración de Kotlin
*.kotlin_module

# Otros archivos específicos de Gradle
*.keystream
*.len
*.values.at
*.tab_i
*.tab
